<p id="notice"><%= notice %></p>

<h1>Clients</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Port</th>
      <th>Password</th>
      <th>St</th>
      <th>Ldate</th>
      <th>Ndate</th>
      <th>Cash</th>
      <th>Ver</th>
      <th>Device</th>
      <th>Mac</th>
      <th>Ip</th>
      <th>Desc</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @clients.each do |client| %>
      <tr>
        <td><%= client.name %></td>
        <td><%= client.port %></td>
        <td><%= client.password %></td>
        <td><%= client.st %></td>
        <td><%= client.ldate %></td>
        <td><%= client.ndate %></td>
        <td><%= client.cash %></td>
        <td><%= client.ver %></td>
        <td><%= client.device %></td>
        <td><%= client.mac %></td>
        <td><%= client.ip %></td>
        <td><%= client.desc %></td>
        <td><%= link_to 'Show', client %></td>
        <td><%= link_to 'Edit', edit_client_path(client) %></td>
        <td><%= link_to 'Destroy', client, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Client', new_client_path %>
<%= link_to 'Sync', '/home/index'  %>

<%- @m.to_a.each do |k,v| %>
 <%= k %>
<% end %>


