<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @client.name %>
</p>

<p>
  <strong>Port:</strong>
  <%= @client.port %>
</p>

<p>
  <strong>Password:</strong>
  <%= @client.password %>
</p>

<p>
  <strong>St:</strong>
  <%= @client.st %>
</p>

<p>
  <strong>Ldate:</strong>
  <%= @client.ldate %>
</p>

<p>
  <strong>Ndate:</strong>
  <%= @client.ndate %>
</p>

<p>
  <strong>Cash:</strong>
  <%= @client.cash %>
</p>

<p>
  <strong>Ver:</strong>
  <%= @client.ver %>
</p>

<p>
  <strong>Device:</strong>
  <%= @client.device %>
</p>

<p>
  <strong>Mac:</strong>
  <%= @client.mac %>
</p>

<p>
  <strong>Ip:</strong>
  <%= @client.ip %>
</p>

<p>
  <strong>Desc:</strong>
  <%= @client.desc %>
</p>

<%= link_to 'Edit', edit_client_path(@client) %> |
<%= link_to 'Back', clients_path %>
